Repository tiagoporto/config: changes, and which lefthook commands are due for each by the changed paths.
All: format, doc-lint, typecheck, markdown-lint, html-yml-json-lint, js-ts-eslint

format:
  run: npm exec -- prettier --write --ignore-unknown {staged_files}
  stage_fixed: true

doc-lint:
  run: npm exec -- remark --frail {staged_files}

typecheck:
  run: npm exec -- tsc --project tsconfig.json

markdown-lint:
  run: npm exec -- eslint --max-warnings 0 --no-warn-ignored {staged_files}

html-yml-json-lint:
  run: npm exec -- eslint --max-warnings 0 --no-warn-ignored {staged_files}

js-ts-eslint:
  run: npm exec -- eslint --max-warnings 0 --no-warn-ignored {staged_files}

chore: add no emit to tsconfig
  package.json
  tsconfig.json
Due: format, html-yml-json-lint

chore(eslint-config): export configs
  packages/eslint-config/eslint-configs/html.mjs
  packages/eslint-config/eslint-configs/javascript.mjs
  packages/eslint-config/eslint-configs/json.mjs
  packages/eslint-config/eslint-configs/markdown.mjs
  packages/eslint-config/eslint-configs/react.mjs
  packages/eslint-config/eslint-configs/typescript.mjs
  packages/eslint-config/eslint-configs/yml.mjs
  packages/eslint-config/index.mjs
  packages/eslint-config/package.json
Due: format, html-yml-json-lint, js-ts-eslint

feat(eslint-config): name gitignore config
  packages/eslint-config/eslint-configs/gitignore.mjs
  packages/eslint-config/eslint-configs/react.mjs
  packages/eslint-config/index.mjs
Due: format, js-ts-eslint

chore: update dependencies
  package-lock.json
  package.json
Due: format, html-yml-json-lint

ci: dry run input in publish workflow
  .github/workflows/publish.yml
Due: format, html-yml-json-lint

Notes added by 'git notes add'
  43eafdaa2d48f9354a932c429315a86a326ce54b
Due: format

chore: update node
  .nvmrc
  package-lock.json
Due: format, html-yml-json-lint

docs(eslint-config): replace eslint.probe by eslint.validate
  packages/eslint-config/README.md
Due: format, doc-lint, markdown-lint

feat(eslint-config): disable html indent rule
  packages/eslint-config/eslint-configs/html.mjs
Due: format, js-ts-eslint

feat(eslint-config): disable html rules in md files
  packages/eslint-config/eslint-configs/html.mjs
Due: format, js-ts-eslint

Notes added by 'git notes add'
  e7aa72b0c1acdf03d4879f1ef3de5ef6ed2989af
Due: format

fix(eslint-config): ignore html indent rule in all html
  packages/eslint-config/eslint-configs/html.mjs
Due: format, js-ts-eslint

Notes added by 'git notes add'
  c78d0c28ed7668cfaebc465395e3f39fa48f711b
Due: format

feat(eslint-config): set browser globals in js in html
  packages/eslint-config/eslint-configs/javascript.mjs
Due: format, js-ts-eslint

Notes added by 'git notes add'
  1007c6531755ec85677a618fe756f5d5663a03f6
Due: format

fix(eslint-config): update @html-eslint
  package-lock.json
  packages/eslint-config/package.json
Due: format, html-yml-json-lint

docs(ts-config): add base config
  packages/ts-config/README.md
Due: format, doc-lint, markdown-lint

Notes added by 'git notes add'
  8a54bbddf9de32dda86edac9dd704915c6915778
Due: format

chore: add check-update npm script
  package-lock.json
  package.json
  packages/eslint-config/package.json
  packages/remark-config/package.json
  packages/stylelint-config/package.json
Due: format, html-yml-json-lint

chore: set devEngines
  package.json
Due: format, html-yml-json-lint

ci: update semantic release
  package-lock.json
  package.json
Due: format, html-yml-json-lint

chore: update commitlint
  package-lock.json
  package.json
Due: format, html-yml-json-lint

feat(eslint-config): update dependencies
  package-lock.json
  packages/eslint-config/package.json
Due: format, html-yml-json-lint

feat(stylelint-config): update dependencies
  package-lock.json
  packages/stylelint-config/package.json
Due: format, html-yml-json-lint

feat(editor-config): avoid race condition
  packages/editor-config/index.mjs
Due: format, js-ts-eslint

feat(dependabot-config): avoid race condition
  packages/dependabot-config/save-file.mjs
Due: format, js-ts-eslint

docs(stylelint-config): replace lintstage by lefthook
  packages/stylelint-config/README.md
Due: format, doc-lint, markdown-lint

docs(prettier-config): replace lintstage by lefthook
  packages/prettier-config/README.md
Due: format, doc-lint, markdown-lint

docs(eslint-config): replace lintstage by lefthook
  packages/eslint-config/README.md
Due: format, doc-lint, markdown-lint

docs(remark-config): replace lintstage by lefthook
  packages/remark-config/README.md
Due: format, doc-lint, markdown-lint

docs(ts-config): replace lintstage by lefthook
  packages/ts-config/README.md
Due: format, doc-lint, markdown-lint

feat(github-files): avoid race condition
  packages/github-files/save-file.mjs
Due: format, js-ts-eslint

Notes added by 'git notes add'
  d1aa85743171e126ead61a7d75f60bc899e82bb3
Due: format

Path conditions:
  format: any of: *
  doc-lint: any of: *.{md,markdown,mdx}
  typecheck: any of: *.{ts,tsx}
  markdown-lint: any of: *.{md,markdown,mdx}
  html-yml-json-lint: any of: *.{html,yml,yaml,json,jsonc,json5}
  js-ts-eslint: any of: *.{js,mjs,cjs,jsx,ts,mts,cts,tsx}
