Repository tiagoporto/config: changes, and which lefthook commands are due for each by the changed paths.
All: format, doc-lint, typecheck, markdown-lint, html-yml-json-lint, js-ts-eslint

format:
  run: npm exec -- prettier --write --ignore-unknown {staged_files}
  stage_fixed: true

doc-lint:
  run: npm exec -- remark --frail {staged_files}

typecheck:
  run: npm exec -- tsc --project tsconfig.json

markdown-lint:
  run: npm exec -- eslint --max-warnings 0 --no-warn-ignored {staged_files}

html-yml-json-lint:
  run: npm exec -- eslint --max-warnings 0 --no-warn-ignored {staged_files}

js-ts-eslint:
  run: npm exec -- eslint --max-warnings 0 --no-warn-ignored {staged_files}

feat(prettier-config): set singleQuote false to CITATION.cff
  packages/prettier-config/index.mjs
Due: format, js-ts-eslint

Notes added by 'git notes add'
  7617c8b8cc41445a6491ea7dcfa5577dfb2fb80c
Due: format

chore: remove packageManager
  package.json
Due: format, html-yml-json-lint

ci: update semantic release
  .github/workflows/publish.yml
  package-lock.json
  package.json
Due: format, html-yml-json-lint

chore: bump commitlint
  package-lock.json
  package.json
Due: format, html-yml-json-lint

revert: adding packageManager
  package.json
Due: format, html-yml-json-lint

ci: run checks against last node versions
  .github/workflows/checks.yml
Due: format, html-yml-json-lint

chore: set runtime warn on fail
  package.json
Due: format, html-yml-json-lint

chore: fix packageManager version
  package.json
Due: format, html-yml-json-lint

Update package links in README.md
  README.md
Due: format, doc-lint, markdown-lint

chore: update package links in README.md
  README.md
Due: format, doc-lint, markdown-lint

feat(eslint-config): lint react hooks in js files
  packages/eslint-config/eslint-configs/react.mjs
Due: format, js-ts-eslint

Notes added by 'git notes add'
  215ed99a2c51d56ca004a087dc681b673898ca56
Due: format

Path conditions:
  format: any of: *
  doc-lint: any of: *.{md,markdown,mdx}
  typecheck: any of: *.{ts,tsx}
  markdown-lint: any of: *.{md,markdown,mdx}
  html-yml-json-lint: any of: *.{html,yml,yaml,json,jsonc,json5}
  js-ts-eslint: any of: *.{js,mjs,cjs,jsx,ts,mts,cts,tsx}
